*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  color: #fff;
  font-size: 17px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;

  background-color: rgba(0, 0, 0, 0);
  -webkit-app-region: drag;
  -webkit-user-select: none;
}

#clock {
  font-size: 22vw;
  letter-spacing: 0.6vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
  text-shadow: 2px 2px 0 #333, -2px -2px 0 #333,
    -2px 2px 0 #333, 2px -2px 0 #333,
    0px 2px 0 #333, 0 -2px 0 #333,
    -2px 0 0 #333, 2px 0 0 #333;
}
